.box {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 50vw;
  height: max-content;

  .card {
    background-color: #2986ac;
    border-radius: 7px;
    padding: 10px;
    height: 100%;
    width: 30%;
  }
}

button {
  cursor: pointer;
  padding: 5px 20px;
}
